body {
	font-family: 'Roboto';
}

.wrap {
	width: 1000px;
	margin: auto;
	clear:both;
}

.line-chart {
	.line {
		fill: none;
		stroke: red;
		stroke-width: 2px;
	}
	
	.average-line {
		fill: none;
		stroke: gray;
		stroke-width: 1px;
		stroke-dasharray: 2,4
	}
	
	.current-point {
		r: 3;
		fill: red;
	}
}

.major-chart-container {
	position: relative;
	width: 900px;
}

.main-chart {
	height: 500px;
}

.sub-chart {
	height: 130px;
}

.svg-container {
    display: block;
    margin:auto;
    clear: both;
    position: relative;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
