
.line-chart {
	.line {
		fill: none;
		stroke: red;
		stroke-width: 2px;
	}
	
	.average-line {
		fill: none;
		stroke: gray;
		stroke-width: 1px;
		stroke-dasharray: 2,4
	}
}

.major-chart-container {
	width: 900px;
}

.svg-container {
    display: block;
    margin:auto;
    clear: both;
    position: relative;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
